<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
  
      <div class="jumbotron text-center">
        <h1>Mission to Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Blast Off!</a></p>
      </div>
  
      <!-- Mars Facts -->
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-left">Mars Latest News</h2>
        </div>
      </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
          <h4>{{mars.news_title}}</h4>
          <p>{{mars.news_paragraph}}</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-8-md-12">
          <h2 class = "text-left">Mars Featured Image</h2>
          <hr>
        <img src = "{{mars.featured_image_url}}" alt="Mars Featured Image" width="600" height="400">
      </div>
      <div class = "col-lg-1"></div>
      <div class="col-lg-3-md-12">
          <h2 class="text-left">Mars Facts</h2>
          <hr>
          {{mars.fact_table|safe}}
      </div>
    </div>
    <div class="row"></div>
    <br>
      <div class="row">
          <div class="col-md-12">
            <h2 class = "text-left">Mars Hemispheres</h2>
            <hr>
          </div>
        </div> 
      <div class="row">       
            {% for hemisphere in mars.hemisphere_images %} 
              <div class="col-lg-6-md-12 border">
              </br>
              <div>
                      <h4 class="text-center"> {{ hemisphere.title | safe }} </h4>  
                    </div>
                    <div>
                      <img width="500 px" height="500 px" src="{{ hemisphere.img_url | safe }}">
                    </div>
              </div>
            {% endfor %}
    </div> 
</div> 
    </div>
</div>

</body>

</html>