h2 {
color: #AC3B61;
margin-top:0.5rem;}
h1 {
color: #AC3B61;
margin-top:0.5rem;}

h2 {
color: navy;
margin-top:0.5rem;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
background-color: #FFFFFF;
}

body {
 background-color: #EEE2DC

}

.btn-primary{
	background-color:#AC3B61;
	border-color:#AC3B61;}
